
:root{
  --color-WH: #fff
}

.main-NavBar {
  width: 100% !important;
  background-color: #0d173a !important;
  min-height: 90px;
}
.nested-DivDB{
  max-width: 1500px !important;
}
#main-nav{
  /* width: 10px !important; */
}

.Link-div{
  width: 65%;
  margin: 0 auto;
}

.Icon-Navbar{
  color: var(--color-WH) !important;
}

.dashboard-text{
  color: #10b9eb !important;
  font-weight: 900 !important;
  font-size: 1.1rem;
}
.db-copyRef{
  font-size: 14px !important;
  border: 2px solid #10b9eb !important;
  border-radius: 7% !important;
  color: var(--color-WH);
}
.id-Nub{
  color: var(--color-WH);
  box-sizing: border-box !important;
  word-wrap: break-word;
}

.dashboard-btn3{
  border-radius: 50px !important;
  border-style: none;
  min-height: 40px;
  max-height: 200px !important;
  color: var(--color-WH) !important;
  cursor: pointer;
  background-color: rgba(23,32,63, 1);
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px 19px;  
  width: max-content;
}

.dashboard-btn2{
  border-radius: 50px !important;
  border-style: none;
  height: 40px;
  color: var(--color-WH) !important;
  cursor: pointer;
  background-color: #10b9eb;
  font-size: 1.2em;
  font-weight: 700;
  padding: 5px 35px;

}
.sidebar_text{
  display: none !important;
}


@media (max-width: 767px) {
 
  .dashboard-btn1{
  border-style: none;
  height: 40px;
  color: var(--color-WH) !important;
  cursor: pointer;
  background-color: #10b9eb;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 20px;
  width: 98%;

  }      
  .Link-div{
    text-align: center;
    font-size: x-large;
  }
  .db-copyRef{
    width: 97%;
    margin: 0 auto;
    border-radius: 0% !important;
  }
}


@media(max-width: 767px){
  .dashboard-text{
      display: none !important;
  }
  .sidebar_text{
    display: inline-block !important;
  }
  .Nav_Link{
     color: white !important;
  }
  .Nav_Link:hover{
    border-bottom: 1px solid #10b9eb;
    color: plum !important;
  }
  .id-Nub{
     display: none !important;
  } 

}
@media(max-width: 907px){
   .dashboard-btn3{
     width: min-content !important;
   }
}


