.HomeFooter2_mainDiv{
    background-color: #10b9eb !important;
    word-wrap: break-word;
    box-sizing: border-box;
    position: relative;
    min-height: 100px;
}
.HomeFooter2_mainDiv p{
    font-size: x-large;
}