:root {
  --plum: #11e03e;
}

.mainbox {
  margin-left: 290px;
  margin-bottom: 1rem;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 9em;
}

@media only screen and (max-width: 660px) {
  .mainbox {
    font-size: 1.1rem !important;
    margin-top: 14rem;
  }
}
@media only screen and (max-width: 500px) {
  .mainbox {
    margin-top: 16rem;
  }
}
@media only screen and (max-width: 378px) {
  .mainbox {
    margin-top: 18rem;
  }
}

.mainbox div {
  border: 2px solid #10b9eb;
  flex: 1;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #0d173a;
  border-radius: 10px;
  text-align: center;
  padding: 2rem 0 2rem 0;
  color: white;
  word-wrap: break-word;
  font-weight: 700;
  display: inline-block;
  font-size: 1.1rem !important;
}
.mainbox div p {
  padding: 0 2rem 0 2rem;
}
.mainbox div p.amount {
  padding-top: 0.8rem;
  color: var(--plum);
}
.mainbox div p.amount-2 {
  padding-top: 0.8rem;
  color: var(--plum);
}

@media (max-width: 767px) {
  .mainbox {
    margin-left: 2.8% !important;
  }

  .golden_image {
    margin-top: 1.8rem !important;
  }
  .eth_image {
    margin-top: 2.4rem !important;
  }
}
