/* :root {
  --plum: #dda0dd;
}

.main-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* padding: 20px 10px;
  color: white;
  text-align: center;
  width: 60% !important;
 

  
}
.boxes {
  border: 2px solid #10b9eb;
  flex: 1;
  border-radius: 7.5%;
  padding: 28px 17px;
  word-wrap: break-word;
  margin: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
}
#box_1 p,
#box_4 p {
  color: var(--plum);
  margin: 43px auto;

}

#box_2 p {
  color: var(--plum);
  margin: 63px auto;
}
#box_3 p {
  color: var(--plum);
  margin: 23px auto;
} */ 


.mainbox{
  margin-left: 355px;
}
