.sidebar {
  width: 240px;
  flex-grow: 1 !important;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 9em !important;
  padding: 3rem 0 0 0.2rem;
  border-top: 2px solid #10b9eb;
  border-right: 2px solid #10b9eb;
  height: 100vh !important;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #0d173a !important;
  box-sizing: border-box !important;
}
/* @media only screen and  (max-width: 660px) {
   .sidebar{
     top:80px;
   }
}
@media only screen and  (max-width: 500px) {
  .sidebar{
    top:110px;
    
  }
}
@media only screen and  (max-width: 378px) {
  .sidebar{
    top:150px;

  }
} */
.logo {
  width: 149px;
  height: 149px;
  margin: 0 auto 2.6rem auto;
  background: linear-gradient(#3124ff 20%, #5f9ea0);
  box-shadow: 0 0 5px #3124ff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: 10px;
 
}
.logo img {
  width: 130px;
  padding: 3rem 0 0 1rem;
}

.sidebar-menu li {
  width: 105%;
  margin-bottom: 1rem;
}
.sidebar-menu li a {
  display: inline-block !important;
  color: plum !important;
}

.sidebar-menu a span {
  font-size: 1.4rem;
  padding-right: 1.1rem;
  padding-left: 0.3rem;
}

.sidebar-menu a.active:hover {
  background-color: #17203f;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 30px 0 0 30px;
  color: #10b9eb !important;
}
/* Sidebar-bottom */
.sidebar-bottom{
  position: fixed;
  bottom: -2%;  
  width: 235px;
  border-top: 1px solid #10b9eb;

}
.sidebar-bottom p{
  font-size:  1.4rem;
  color: plum;
  padding-left: 10%;
   padding-top: 1.5rem;
}
.sidebar-bottom p span{
 padding-right: 0.8rem;

}


