.main_Pick3Nub {
  margin-left: 290px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-right: 1.8rem;
}

.nested_div_pick3nub {
  min-height: 150px;
  border: 2px solid #10b9eb;
  margin: 20px 0;
  margin-right: 2px !important;
  border-radius: 10px;
  text-align: center;
  padding-top: 2rem;
  padding: 20px !important;
  position: relative;
}


.lottery_statistics_tip_icon > img{
  position: absolute;
  right: 20px;
  bottom: 16px;
  width: 18px ;
  height: 18px;
}

.nested_div_pick3nub::first-line {
  font-size: 1.3rem;
  color: #9f9ffb;
}
.selection_div {
  box-sizing: border-box;
  padding-bottom: 30px;
}
.selection_div select {
  padding: 0.3rem;
  border-color: none !important;
  margin-right: 0.8rem;
  border-radius: 5px !important;
}
.selector_button {
  font-size: 1rem !important;
  font-weight: 1000;
}

.your_pick_box {
  color: white;
  border: 2px solid #10b9eb;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 16px auto;
  padding: 10px 15px;
  width: 50% !important;
}

.play_btn {
  width: 65%;
  margin: 16px auto;
  border-radius: 50px !important;
  border-style: none;
  min-height: 40px;
  color: var(--color-WH) !important;
  cursor: pointer;
  background-color: #10b9eb;
  font-size: 1.2em;
  font-weight: 700;
  padding: 5px 35px;
  word-wrap: break-word !important;
}

@media (max-width: 767px){
.main_Pick3Nub {
  margin-left: 2%;
}
.play_btn{
  width: 90% !important;
}
}