.main_Pick3Nub{
   margin-left: 290px;
   box-sizing: border-box;
   word-wrap: break-word;
   margin-right: 3rem;
}

.nested_div_pick3nub{
   min-height: 150px;
   border: 2px solid #10b9eb;
   margin: 15px;
  border-radius: 10px;
  text-align: center;
  padding-top: 2rem;
  padding: 20px !important;
}
.nested_div_pick3nub::first-line{
   font-size: 1.3rem;
   color: #9F9FFB ;
}
.selection_div{
   box-sizing: border-box;
   padding-bottom: 30px;
}
.selection_div select{
   padding: 0.3rem;
   border-color: none !important;
  margin-right: .8rem;
  border-radius: 5px !important;
}
.selector_button{
   font-size: 1rem !important;
   font-weight: 1000;
}