

.Input_text{
    max-width: 490px;
    height: 50px;
    border: none !important;
    outline: none;
    border-radius: 25px 0 0 25px;
    padding: 0 25px;
  box-sizing: border-box;
}
.Input_button{
    position: relative;
    left: -4rem;
    border-radius: 25px 25px;
    width: 200px ;
    height: 50px;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    background-color: #10b9eb;
    box-sizing: border-box;
}
.Input_button:hover{
    background-image: url('../../Icons/Submit.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: transparent !important;
    background-color: white;
    transition: all 0.2s ease-in-out;
    background-size: 25%;
    border: 1px solid #10b9eb !important;
}
@media (max-width:440px)  {
    .Input_button{
        width: 100px !important;
    }  
   .Input_text{
       width: 200px !important;
   } 
  }

@media (max-width:379px)  {
  .Input_button{
      width: 100px !important;
  }  
 .Input_text{
     width: 185px !important;
 } 
}

@media (max-width:355px)  {
    .Input_button{
        width: 110px !important;
    }  
   .Input_text{
       width: 165px !important;
   } 
  }
  @media (max-width:339px)  {
    .Input_button{
        width: 97px !important;
    }  
   .Input_text{
       width: 157px !important;
   } 
  }

  @media (max-width:300px)  {
    .Input_button{
        width: 90px !important;
    }  
   .Input_text{
       width: 132px !important;
   } 
  }