.lotfrom2_mainDiv{
    margin-left: 300px;
    margin-right: 1.8rem;
    border: 2px solid #10b9eb;
    border-radius: 10px;
    margin-bottom: 10px;
   position: relative;
}
.lot_from2_h1{
    color: #9F9FFB;
    font-size: 1.9rem;
    text-align: center !important; 
    word-wrap: break-word !important;

}
.lottery_statistics_tip_icon > img{
   position: absolute;
   right: 20px;
   bottom: 65px;
   width: 20px; 
   height: 20px;
}

.LotForm1Table2{
    overflow-y: auto !important;
    max-height: 257px !important;   
}

.main_table_form2{
    color: white !important;
}


.lotfrom2_mainDiv table thead tr{
    background-color: #10b9eb !important;
    font-weight: bolder !important;
}
@media (max-width: 767px){
    .lotfrom2_mainDiv{
        margin-left: 2.8%;
    }
}