.FiveNFTBox_mainDiv {
  margin-left: 300px;
  margin-top: 5rem;
}
.FiveNFTBox_mainDiv h1 {
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-bottom: 2rem;
  font-weight: bold;
}
.nested_FiveBox {
  width: 100%;
}
.FiveNFTBox_mainDiv div {
  border-radius: 10px;
}
.firstBox {
  min-height: 250px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #10b9eb;
  position: relative;
  background-color: #081235;
  text-align: center;
}
.amount_nft {
  color: plum;
}

.btn_nftBox {
  padding: 0.4rem 2rem;
  background-color: #9f9ffb !important;
  font-weight: bold;
  border: none !important;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: large;
}

@media only screen and (max-width: 767px) {
  .FiveNFTBox_mainDiv {
    margin-left: 2% !important;
  }
  .nested_FiveBox {
    width: 100%;
    margin: 0px !important;
  }
}
