.Pick3Drop {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-left: 290px;
  margin-right: 3.5rem;
}
.Pick3Drop div.lot_nested_div {
  border: 2px solid #10b9eb;
  margin-top: -0.8rem;
  margin-right: 1.5rem !important;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  box-sizing: border-box !important;
  max-height: 550px !important;
}
.lot_nested_div {
  position: relative;
}
.lot_nested_div p.para_lot1 {
  background-color: #9f9ffb !important;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 1rem 0;
  font-weight: 900;
  font-size: 1.2rem;
}

.para_lot2,
.para_lot3,
.para_lot4 {
  font-weight: 800;
  font-size: 1.3rem;
}

.para_lot3 {
  font-weight: bolder !important;
  font-size: 2rem !important;
}
.user_pick_lottery_numbers {
  max-width: 75% !important;
  overflow-y: auto;
  height: 150px;
}
.nestedDiv_LotteryNumber {
  border: 2px solid #10b9eb;
  background-color: #17203f !important;
}

.para_lot3 {
  font-weight: bolder !important;
  font-size: 2rem !important;
}

.lottery_statistics_tip_icon > img {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 18px;
  height: 18px;
}

.lottery_statistics_tip_icon .toolTipText {
  visibility: hidden;
  width: 80%;
  background-color: black;
  color: #fff;
  /* text-align: center; */
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  right: 0;
  z-index: 1;
}
.lottery_statistics_tip_icon:hover .toolTipText {
  visibility: visible;
}

@media (max-width: 767px) {
  .Pick3Drop {
    margin-left: 3% !important;
    margin-right: auto;
  }
}
