.Pick3Drop {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-left: 290px !important;
  margin-right: 3.5rem;
}
.Pick3Drop div {
  border: 2px solid #10b9eb;
  margin-right: 1.5rem !important;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
  height: auto;
  flex: 1;
  box-sizing: border-box !important;
}
.lot_nested_div p.para_lot1{
    background-color: #9F9FFB !important;
 border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    padding: 1rem 0;
    font-weight: 900;
    font-size: 1.2rem;
}

.para_lot2,.para_lot3,.para_lot4{
    font-weight: 800;
    font-size: 1.3rem;
}

.para_lot3{
    font-weight: bolder !important;
    font-size: 2rem !important;
}