<<<<<<< HEAD
.mainThreeBox_cont {
  margin: 0 auto;
  width: 90%;
  word-wrap: break-word;
=======

.mainThreeBox_cont{
    margin: 0 auto;
    width: 100%;
    word-wrap: break-word;
>>>>>>> 6ce5a409b1e155fd077c21d19f5be9748eaab86e
}

.mainThreeBox_cont div {
  border: 2px solid #10b9eb;
  margin-right: 1rem;
  border-radius: 16px;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .mainThreeBox_cont div {
    padding-top: 2rem !important;
  }
}
