.two-box{
    margin-left: 335px;
    margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.two-box div{
    border: 2px solid #10B9EB;
    margin-right: 1.2rem;
    margin-bottom: 1rem;

    border-radius: 10px;
    text-align: center;
    height: auto;
    flex: 1;
}
.two-box ul.ul{
    display: grid;
    grid-template-rows: repeat(1, 60px);
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

.button-1{
     border: 2px solid red;
     border-top-left-radius: 5px;
     padding-top: 1rem;
 
}
.button-2{
    border: 2px solid red;
    border-top-right-radius: 5px;
    padding-top: 1rem;

}
.button:hover{
    border: 2px solid #9F9FFB;
    padding-top: 1rem;
    background-color: #9F9FFB;
    cursor: pointer;
}
.two-box ul.second-ul{

    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}
.link-1,.link-2{
    border: 2px solid white;
    flex-basis: 260px;
    padding: 1rem ;
    border-radius: 10px;
    cursor: pointer;
    color: #dda0dd !important;
}
.link-2{
    flex-basis: 120px;
    background-color:#10B9EB;
    border-color: #10B9EB;
    color: white !important;
}
.box-para{
    color: white;
    word-wrap: break-word;
    padding: 2rem;
    font-weight: 600;
}
.buy-button{
    cursor: pointer;
    font-size: 1.5rem;
    margin: 2% auto;
    word-wrap: break-word;
    padding: 2px 8%;
    background: #9F9FFB;
    border-radius:  10rem;
    border-color: #9F9FFB;
    border-bottom-color: #9F9FFB !important;
    color: white;

}










