/* 
.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.footerbottom-image{
    width: 100%;
    position: relative;
} */
/* 
.footer-div2 ul{
    width: 100%;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 3rem 8rem;
    margin-top: auto;    
    background-color: white;
    border-color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    
}

.footer-ul li.icons{
    color: #0d173a !important;
    font-weight: 1000 !important;
    font-size: 1.4rem !important;
}
.icon1,.icon3{
   flex-basis: 12rem;
}
.icon2,icon4{
    flex-basis:8rem;
}

.nested-divfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding-bottom: 1.5rem;
    margin-top: -1rem;
}
.nested-divfooter img{
    margin-right: 0.5rem;
    cursor: pointer;
} */

.footer_mainDiv {
  background-color: white;
  margin-bottom: 0% !important;
  width: 100% !important;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.Footer-ul {
  box-sizing: border-box;
  word-wrap: break-word;
  padding-top: 2rem;
}
.Footer-ul li a {
  font-weight: bolder;
}
.nested-divfooter-Image li a {
  padding: 0.5rem 0.4rem;
}
.nested-divfooter-Image img {
  width: 40px;
}
