
.contianer-home{
    display: flex !important;
   flex-direction: row !important;
   flex-wrap: wrap !important;
   justify-content: space-between !important;
   align-content: center !important;
   width: 100%;  
   margin-right: auto;
   margin-left: auto;
   padding: 1rem 0.5rem;
}

.mainpage-logo{
  flex-basis: 100px !important;
  width: 70% !important;
  padding: 3% 0%;

}
.mainpage-logo:hover{
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
}
.contianer-home div{
  align-self: center !important;
}
#home-ul a.nav-link{
  color: white !important;
  font-size: 1.7em !important;
}
#home-ul a.nav-link:hover{
  cursor: pointer;
  border-bottom: 2px solid #10b9eb;
  padding-bottom: 13px;
  border-radius: 10px;
}

.btn{
  border-radius: 50px;
  border-style: none;
  height: 40px;
  color: white !important;
  cursor: pointer;
  background-color: #10b9eb;
  font-size: 1em;    
  padding: 5px 35px;
  margin-right: 1rem;
} 
.btn:hover{
  background-color: white;
  border-style: none;
  background-image: url(../../Icons/OpenApp.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  transition: all 0.2s ease-in; 
}