.bottom-mainbox{
    padding-top: 0 !important;
    margin-top: auto;
}
.bottom-amount,.amount-2{
    margin-top: 1rem !important;
}
.amount{
    margin-top: 0.7rem;
}
#box_4{
    font-size: 1.1rem !important;
    padding: 0rem !important;
    padding-bottom: 0.3rem !important;
    font-weight: bolder !important;
}

@media(max-width: 767px){
    .bottom-mainbox{
     margin-left: 2.8% !important;   
    }
}