.bottom_box {
  margin-left: 285px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  box-sizing: border-box !important;

}
.nested_BottomDiv2, .nested_BottomDiv1 {
  background-color: #0d173a;
  border: 2px solid #10b9eb;
  border-radius: 10px;
  flex: 1;
  margin: 0.8rem;
  text-align: center;
  padding: 3rem 3rem;
  font-size: 1.1rem;
}
.bottom_para,
p {
  color: white;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.span_color {
  color: #dda0dd;
}
.bottom_button {
  padding: 0.2rem 0.9rem !important;
  width: 8rem;
  background-color: #9f9ffb !important;
  border-color: #9f9ffb !important;
  border-radius: 0.2rem !important;
  color: white !important;
  font-weight: 600 !important;
}

@media(max-width: 767px){
  .bottom_box{
      margin-left: 1% !important;
  }
}